# Multi Operating System (mOS)
# Copyright (c) 2016-2020, Intel Corporation.
#
# This program is free software; you can redistribute it and/or modify it
# under the terms and conditions of the GNU General Public License,
# version 2, as published by the Free Software Foundation.
#
# This program is distributed in the hope it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
# more details.

#
# mOS LWKMEM configuration
#

comment "MEMORY_HOTPLUG required for mOS memory management"
	depends on !MEMORY_HOTPLUG

config MOS_LWKMEM
	bool "Enable mOS memory management"
	depends on MOS_FOR_HPC && MEMORY_HOTPLUG
	help
	  Enable the mOS Lightweight Kernel memory management.

	  Unless you operate a top-500 supercomputer, say N.
